name: SE333 CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Install Playwright browsers
        run: npx playwright install --with-deps

      - name: Build with Maven
        run: mvn clean test -Dplaywright.cli.install=true
